* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}


a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

body {
    font-family: "Popins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


header {
    position: sticky;
    top: 0;
    padding: 30px 0;
}

.container {
    max-width: 1008px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}


.site-header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header__wrapper {
    display: flex;
    align-items: center;
    background-color: #fff;
}

.header__logo {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #000;
    gap: 4px;
    margin-right: auto;
}

.header__logo img {
    width: 60px;
    height: 60px;
    border-radius: 40%;
}


.nav__list {
    display: flex;
    gap: 48px;
    margin-right: 48px;
}

.nav__link {
    color: #000;
}



.ozim {
    padding-top: 64px;
    padding-bottom: 56px;
}

.ozim__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.ozim__tittle {
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 0%;
    margin-bottom: 16px;
}


.ozim__desc {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    margin-bottom: 48px;
}


.ozim__link {
    display: flex;
    width: 180px;;
    height: 64px;
    border-radius: 64px;
    padding-right: 40px;
    justify-content: center;
    align-items: center;
    background-color: #19033e;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
}

.ozim__img-wrapper  img{
    width: 500px;
    padding-left: 50px;
}

.about {
    padding: 100px 0;
    /* background-color: red; */
}

.about__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__content {
    width: 400px;
}


.project {
    background: yellow;
}

.project__title {
    text-align: center;
}

.project__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 30px;
}

.project__item {
    padding: 20px;
    height: 250px;
    border: 1px solid #000;
}

.project__link img {
    width: 230px;
}
